<div class="logo">
  <svg><use xlink:href="#logo"/></svg>
</div>
<h1>Manage Research Tags</h1>
<p>All fields required unless marked as optional.</p>
<div>
  <h2>Conditions:</h2>
  <form [formGroup]="parentForm">
    <mat-form-field>
      <mat-select placeholder="Business Segment" formControlName="business">
        <mat-option *ngFor="let bus of business" [value]="bus.value">
          {{bus.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Preferred Brand"
             matInput
             value="Soft Tier 2"
             id="brand">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Effective Date" formControlName="business">
        <mat-option *ngFor="let bus of business" [value]="bus.value">
          9/28/2016
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Expiration Date" formControlName="business">
        <mat-option *ngFor="let bus of business" [value]="bus.value">
          10/28/2016
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox>Contract Variance</mat-checkbox>

    <div class="flex-column">
      <mat-label>Closed Plan Definition</mat-label>
      <mat-radio-group layout="row" color="black">
        <mat-radio-button [value]=true [checked]="true">NF Allowed</mat-radio-button>
        <mat-radio-button [value]=false [checked]="false">NF Not Allowed</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex-column">
      <mat-label>Formulary Listing</mat-label>
      <mat-radio-group layout="row" color="black">
        <mat-radio-button [value]=true [checked]="true">On Formulary</mat-radio-button>
        <mat-radio-button [value]=false [checked]="false">No Listing Required</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <input placeholder="Preferred Brand"
             matInput
             value="Soft Tier 2">
    </mat-form-field>
    <h3>Utilization Management</h3>
    <mat-form-field>
      <mat-select placeholder="Prior Authorization" formControlName="auth">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Post Quantity" formControlName="quantities">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Post Step Therapy" formControlName="quantities">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Step Therapy" formControlName="quantities">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Look Back" formControlName="quantities">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Pre Requisition" formControlName="quantities">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="grid-col-1-4">
      <mat-select placeholder="Quantity Limit" formControlName="quantities">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Quantity Day" formControlName="quantities">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>


  <h2>Rate Tag Details:</h2>
  <form [formGroup]="parentForm">
    <mat-form-field>
      <input placeholder="Rate Tag Name"
             value="1 of 2 MFR"
             matInput>
    </mat-form-field>

    <h3>Competitor Count:</h3>

    <mat-form-field>
      <mat-select placeholder="Count of">
        <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
          {{quantity.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="flex-column">
      <mat-label>Count By</mat-label>
      <mat-radio-group layout="row" color="black">
        <mat-radio-button [value]=true [checked]="true">Manufacturer</mat-radio-button>
        <mat-radio-button [value]=false [checked]="false">Product</mat-radio-button>
      </mat-radio-group>
    </div>


    <mat-form-field>
      <input placeholder="Vendor Drug Class"
             disabled
             matInput>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Competitor Drug Class"
             disabled
             matInput>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Tag name description"
             matInput>
    </mat-form-field>


    <h3>Optional Rules / incrementals:</h3>
    <mat-form-field>
      <mat-select placeholder="Number of" formControlName="drugs">
        <mat-option>
          1
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <mat-radio-group layout="row" color="black">
        <mat-radio-button [value]=true [checked]="true">Manufacturer</mat-radio-button>
        <mat-radio-button [value]=false [checked]="false">Product</mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <mat-radio-group layout="row" color="black">
        <mat-radio-button [value]=true [checked]="true">Include</mat-radio-button>
        <mat-radio-button [value]=false [checked]="false">Exclude</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <mat-select placeholder="Incremental Drug Class">
        <mat-option *ngFor="let drug of drugs" [value]="drug.value">
          {{drug.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Preferred Brand" formControlName="drugs">
        <mat-option value="Soft Tier 2">
          Soft Tier 2
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
                value=""
                placeholder="Incremental description">
       </textarea>
    </mat-form-field>
  </form>
  <h2>Research Tags:</h2>
  <h4>Drag and drop to change tag hierarchy</h4>
  <div class="drag-drop-area">
      <div class="drag-card">
        1 of 1 MFR, 1 INC MFR
        <div class="icon">
          <svg><use xlink:href="#close"/></svg>
        </div>
      </div>
      <div class="drag-card">
        1 of 2 MFR, 1 INC MFR
      </div>
  </div>
</div>


