
svg {
  width: inherit;
  height: inherit;
}

.logo {
  width: 280px;
  height:80px;
}


* {
  font-family: Helvetica, Arial, sans-serif
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
  margin: 0;
  padding: 1rem 0
}

p {
  font-size: 12px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

.padding {
  padding: 1rem;
}

.icon {
  width: 34px;
  height: 34px;
}

mat-label {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #7b7b7b;
  margin: 6px 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

mat-radio-button + mat-radio-button {
  padding-left: 1rem;
}


.drag-card {
  background-color: #fff;
  display: inline-block;
  padding: 16px;
  width: 300px;
  box-shadow: 0 1px 2px -3px rgba(0, 0, 0, 0.2),
  0px 1px 4px 2px rgba(0, 0, 0, 0.1)
}
